
//------------------------------------------------------------------------------
// Secondary Variables
//------------------------------------------------------------------------------
@mixin text-3d($hue) {
  $ts: ();
  @for $i from 1 through 10 {
    $ts: $ts, $i*2px $i*2px hsl($hue + $i*1, 100%, 50% - $i);
  }
  text-shadow: $ts, 0 0 10px, 0 0 10px;
}
